.bi
  background-color currentColor
  mask-size 1em
  mask-repeat no-repeat
  mask-position center

  &::before
    display inline-block
    content ''
    width 1em

for $icon in check-circle-fill exclamation-circle-fill plus x-circle chat-left-text-fill people-fill slash-circle person-plus-fill person-check-fill check-circle
  $path = '../../node_modules/bootstrap-icons/icons/' + $icon + '.svg'
  .bi-{$icon}
    mask-image url($path)
