body
  background-color #EEE

.popup
  background-color white
  width 20rem
  min-height 10rem
  padding 1rem

.logout-button
  text-decoration none
  color #666

fieldset
  border 1px solid #DDD
  border-radius .25rem
  padding .35em .75em .625em

legend
  float none
  width auto
  padding 0 2px
