@import "icon.styl"
@import "views/login.styl"

html, body, #app
  height 100%

#app
  display flex
  flex-direction column

  > .container-fluid
    flex 1

dialog
  padding 0

  &:not([open])
    display none !important
